fastapi
uvicorn[standard]
langchain
langchain-community
langchain-google-genai
qdrant-client
langchain-qdrant
sentence-transformers
langgraph
soundfile
transformers
google-genai
eng_to_ipa
torchaudio
python-multipart
gtts
pydub
fastmcp